@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Noto+Serif+Thai:wght@100..900&display=swap");
@import "tailwindcss";

body {
  background: #ffffff;
  color: #171717;
  font-family: "Noto Sans Thai", sans-serif !important;
  width: 100%;
  min-height: 100dvh;
}

#__next {
  font-family: "Noto Sans Thai", sans-serif !important;
  width: 100%;
  height: 100%;
}
